<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const apiUrl = "../api/source/{{.src_id}}";
            const pauseUrl = apiUrl + "/pause";
            const resumeUrl = apiUrl + "/resume";
            const container = document.getElementById("data-container");

            function fetchData() {
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        container.innerHTML = `
                            <table border="1" cellspacing="0" cellpadding="5">
                                <tr><th>Title</th><td>${data.title}</td></tr>
                                <tr><th>Value(Original)</th><td><a href="${data.value}" target="_blank">${data.value}</a></td></tr>
                                <tr><th>Pause</th><td>${data.pause ? "Paused" : "Running"}</td></tr>
                            </table>
                            <button id="toggle-btn">${data.pause ? "Resume" : "Pause"}</button>
                        `;

                        document.getElementById("toggle-btn").addEventListener("click", function() {
                            togglePause(data.pause);
                        });
                    })
                    .catch(error => console.error("Error fetching data:", error));
            }

            function togglePause(isPaused) {
                const url = isPaused ? resumeUrl : pauseUrl;
                fetch(url, { method: "POST" })
                    .then(response => response.json())
                    .then(() => fetchData())
                    .catch(error => console.error("Error toggling pause state:", error));
            }

            fetchData();
        });
    </script>
</head>
<body>
    <h1 style="color: rebeccapurple;"><a href="../">{{.message}}</a></h1>
    <h1 style="color: rebeccapurple;"><a href="../source">Sources</a></h1>
    <hr>
    <h1>Source Detail</h1>
    <p><a href="../api/feed/{{.src_id}}" target="_blank" rel="noopener noreferrer">Gwyneth Feed URL</a></p>
    <div id="data-container">Loading...</div>
    <hr>
    <h1>Filter</h1>
<script>
    function refilter() {
        var options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({limit: 100})
        };

        fetch("../api/feed/{{.src_id}}/refilter", options)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
    }
</script>
    <button type="button" onclick="refilter()">re filter</button>
    <table border="1">
        <thead>
            <tr>
                <th>Enable</th>
                <th>Title</th>
                <th>TitleRegex</th>
                <th>Body</th>
                <th>BodyRegex</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="filtersTableBody"></tbody>
    </table>
    <hr>
    <script>
        function fetchFilters() {
            fetch('../api/source/{{.src_id}}/filter', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const buf = {};
                data.forEach(filter => {
                    buf[filter.id] = true;
                });
                return buf;
            })
            .then(buf => {
                fetch('../api/filter', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('filtersTableBody');
                    tableBody.innerHTML = '';
                    data.forEach(filter => {
                        const row = document.createElement('tr');

                        let check_clm = `<td><input type="checkbox" onchange="Check(this, '${filter.id}')"/></td>`;
                        if (buf.hasOwnProperty(filter.id)) {
                            check_clm = `<td><input type="checkbox" onchange="Check(this, '${filter.id}')" checked /></td>`;
                        }
                        row.innerHTML = `
                            ${check_clm}
                            <td>${filter.title.value}</td>
                            <td>${filter.title.regex}</td>
                            <td>${filter.body.value}</td>
                            <td>${filter.body.regex}</td>
                            <td>${filter.action.name}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
            })
            .catch(error => console.error('Error fetching filters:', error));
        }

        function Check(checkbox, id) {
            if (checkbox.checked) {
                fetch('../api/source/{{.src_id}}/filter', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id }),
                })
                .then(response => {
                    if (!(response.ok)) {
                        console.error('Failed to delete filter');
                        checkbox.checked = false;
                    }
                })
                .catch(error => {
                    console.error('Error deleting filter:', error);
                    checkbox.checked = false;
                });
            } else {
                fetch('../api/source/{{.src_id}}/filter', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id }),
                })
                .then(response => {
                    if (!(response.ok)) {
                        console.error('Failed to delete filter');
                        checkbox.checked = true;
                    }
                })
                .catch(error => {
                    console.error('Error deleting filter:', error);
                    checkbox.checked = true;
                });
            }
        };

        window.onload = function () {
            fetchFilters();
        };
    </script>
</body>
</html>

