<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Filter</title>
</head>
<body>
    <h1 style="color: rebeccapurple;"><a href="./">{{.message}}</a></h1>
    <hr>
    <h1>Filter</h1>
    <div id="addForm">
        <h2>Add New Filter</h2>
        <label for="title_value">Title Pettern:</label>
        <input type="text" id="title_value">
        <label for="title_regex">regex</label>
        <input type="checkbox" id="title_regex" name="title_regex" />
        <br>

        <label for="body_value">Body Pettern:</label>
        <input type="text" id="body_value">
        <label for="body_regex">regex</label>
        <input type="checkbox" id="body_regex" name="body_regex" />
        <br>

        <label for="action">Action:</label>
        <select id="action">
            <!-- Filter Type options will be filled dynamically -->
        </select>
        <br>
        <button onclick="addFilter()">Add</button>
    </div>
    <hr>
    <table border="1" id="filtersTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>TitleRegex</th>
                <th>Body</th>
                <th>BodyRegex</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="filtersTableBody"></tbody>
    </table>
    <script>
        function fetchFilterTypes() {
            fetch('./api/action', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const selectType = document.getElementById('action');
                selectType.innerHTML = '';
                data.forEach(action => {
                    const option = document.createElement('option');
                    option.value = action.id;
                    option.text = action.name;
                    selectType.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching action:', error));
        }

        function fetchFilters() {
            fetch('./api/filter', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('filtersTableBody');
                tableBody.innerHTML = ''; // Clear existing table data
                data.forEach(filter => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td><a href="./filter/${filter.id}/">${filter.id}</a></td>
                        <td>${filter.title.value}</td>
                        <td>${filter.title.regex}</td>
                        <td>${filter.body.value}</td>
                        <td>${filter.body.regex}</td>
                        <td>${filter.action.name}</td>
                        <td><button onclick="deleteFilter('${filter.id}')">Delete</button></td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching filters:', error));
        }

        function deleteFilter(id) {
            if (!(confirm("Are you sure you want to delete?"))) {return;};

            fetch(`./api/filter`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id }),
            })
            .then(response => {
                if (response.ok) {
                    fetchFilters();
                } else {
                    console.error('Failed to delete filter');
                }
            })
            .catch(error => console.error('Error deleting filter:', error));
        }

        function addFilter() {
            const title_value = document.getElementById('title_value').value;
            const title_regex = document.getElementById('title_regex').checked;
            const body_value = document.getElementById('body_value').value;
            const body_regex = document.getElementById('body_regex').checked;
            const action_id = document.getElementById('action').value;

            fetch('./api/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "title":{"value": title_value, "regex": title_regex},
                    "body":{"value": body_value, "regex": body_regex},
                    "action":{"id":action_id },
                })
            })
            .then(response => {
                if (response.ok) {
                    fetchFilters();
                    document.getElementById('title_value').value = '';
                    document.getElementById('title_regex').checked = false;
                    document.getElementById('body_value').value = '';
                    document.getElementById('body_regex').checked = false
                } else {
                    console.error('Failed to add filter');
                }
            })
            .catch(error => console.error('Error adding filter:', error));
        }

        window.onload = function () {
            fetchFilterTypes();
            fetchFilters();
        };
    </script>
</body>
</html>

